if BOARD_INTEL_APOLLOLAKE_RVP1 || BOARD_INTEL_APOLLOLAKE_RVP2

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select SOC_INTEL_APOLLOLAKE
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_TABLES

config MAINBOARD_DIR
	string
	default intel/apollolake_rvp

config MAINBOARD_PART_NUMBER
	string
	default "Apollolake RVP"

config MAINBOARD_VENDOR
	string
	default "Intel"

config FMAP_FILE
	string
	default aplk.rvp

config PREBUILT_SPI_IMAGE
	string
	default aplk.rvp1.bin.orig if BOARD_INTEL_APOLLOLAKE_RVP1
	default aplk.rvp2.bin.orig if BOARD_INTEL_APOLLOLAKE_RVP2

config IFD_BIOS_END
	hex
	default 0x6FF000

config IFD_BIOS_START
	hex
	default 0x1000

config FLASHMAP_OFFSET
	hex
	default 0xc4480

endif # BOARD_INTEL_APOLLOLAKE_RVP1 || BOARD_INTEL_APOLLOLAKE_RVP2
