config PLATFORM_USES_FSP2_0
	bool
	help
	  Include FSP 2.0 wrappers and functionality

if PLATFORM_USES_FSP2_0

comment "Intel FSP 2.0"

config ADD_FSP_BINARIES
	bool "Add Intel FSP 2.0 binaries to CBFS"
	help
	  Add the FSP-M and FSP-S binaries to CBFS. Note that coreboot does not
	  use the FSP-T binary, so that will not be included.

config FSP_M_FILE
	string "Intel FSP-M (memory init) binary path and filename"
	depends on ADD_FSP_BINARIES
	help
	  The path and filename of the Intel FSP-M binary for this platform.

config FSP_S_FILE
	string "Intel FSP-S (silicon init) binary path and filename"
	depends on ADD_FSP_BINARIES
	help
	  The path and filename of the Intel FSP-S binary for this platform.


config ADD_VBT_DATA_FILE
	bool "Add a Video Bios Table (VBT) binary to CBFS"
	help
	  Add a VBT file data file to CBFS. The VBT describes the integrated
	  GPU and connections, and is needed by FSP in order to initialize the
	  display.

config VBT_FILE
	string "VBT binary path and filename"
	depends on ADD_VBT_DATA_FILE
	help
	  The path and filename of the VBT binary for this platform.

config FIT_CAR_ADDR
	hex
	default 0xfef2dc00

# Cache As RAM region layout:
#
# +-------------+ DCACHE_RAM_BASE + DCACHE_RAM_SIZE    [0xff000000]
# |   Unused    |
# +-------------+ ---------------------------------    [0xfefa0000]
# |             |
# |   FSP-M     |
# |   code      |
# |             |
# +-------------+ FSP-M                                [0xfef50000]
# |  romstage   |
# |    code     |
# +-------------+ ROMSTAGE_CAR_ADDR                    [0xfef2e000]
# |  FIT TABLE  |
# +-------------+ FIT_CAR_ADDR                         [0xfef2dc00]
# |   FSP-M     |
# | stack/data  |
# +-------------+ DCACHE_RAM_BASE + 0x4000             [0xfef04000]
# |  Stack      |
# |    |        |
# |    v        |
# +-------------+
# |    ^        |
# |    |        |
# | CAR Globals |
# +-------------+ DCACHE_RAM_BASE                      [0xfef00000]


endif # PLATFORM_USES_FSP2_0
